<div class="nested-fields">
  <div class="form-group">
    <%= f.label :pizza_id, "Select Pizza" %>
    <%= f.collection_select :pizza_id, @pizzas, :id, ->(pizza) { "#{pizza.name} (#{pizza.size}) (₹#{pizza.price})" }, 
                            { prompt: "Choose Your Pizza and Size" }, class: 'pizza-select', data: { price: pizza.price } %>
  </div>

  <div class="form-group">
    <%= f.label :crust_id, "Crust" %>
    <%= f.collection_select :crust_id, @crusts, :id, ->(crust) { "#{crust.name} (₹#{crust.price})" }, 
                            { prompt: "Choose Your Crust" }, data: { price: crust.price } %>
  </div>

  <div class="form-group">
    <%= f.label :topping_ids, "Toppings" %>
    <% @toppings.each do |topping| %>
      <div>
        <%= f.check_box :topping_ids, { multiple: true, data: { price: topping.price } }, topping.id, nil %>
        <%= label_tag "order_topping_ids_#{topping.id}", "#{topping.name} (₹#{topping.price})" %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :quantity, "Quantity" %>
    <%= f.number_field :quantity, min: 1, required: true, value: 1 %>
  </div>

  <%= link_to "Remove", "#", class: "remove_fields" %>
</div>
<div class="nested-fields">
  <%= f.label :pizza_id, "Select Pizza" %>
  <%= f.collection_select :pizza_id, Pizza.all, :id, :name, prompt: "Choose Pizza" %>
  <%= f.number_field :quantity, min: 1, value: 1 %>
  <%= link_to "Remove", "#", class: "remove_fields" %>
</div>